@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenSidebar>
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="State Machines" Icon="change_circle" Click="@(() => NavigationManager.NavigateTo("/"))" />
            <RadzenPanelMenuItem Text="Generic Clients" Icon="device_hub" Click="@(() => NavigationManager.NavigateTo("/genericclients"))" />
            <RadzenPanelMenuItem Text="HA Clients" Icon="device_hub" Click="@(() => NavigationManager.NavigateTo("/haclients"))" />
            <RadzenPanelMenuItem Text="MQTT Clients" Icon="device_hub" Click="@(() => NavigationManager.NavigateTo("/mqttclients"))" />
            <RadzenPanelMenuItem Text="Variables" Icon="dialpad" Click="@(() => NavigationManager.NavigateTo("/variables"))" />
            <RadzenPanelMenuItem Text="System Script" Icon="description" Click="@(() => NavigationManager.NavigateTo("/systemscript"))" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div style="overflow:auto;">
        @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenContextMenu />
<RadzenNotification />
<RadzenDialog />
<RadzenTooltip />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
