@using Blazor.Diagrams.Components.Renderers
@using Blazor.Diagrams.Core.Models
@using Hasm.Services
@using Hasm.Services.Automations
@inject DialogService DialogService
@inherits ComponentBase
<div class="default-node @(Node.Group != null ? "grouped" : "") @(Node.Selected ? "selected" : "")" style="position: relative;">
    <strong>@(Node.Title ?? "Title")</strong>
    @foreach (var port in Node.Ports)
    {
        <PortRenderer @key="port" Port="port" Class="default"></PortRenderer>
    }
    <RadzenButton 
        Size=ButtonSize.ExtraSmall
                  ButtonStyle="@(string.IsNullOrWhiteSpace(Node.State.EntryAction) ? ButtonStyle.Light : ButtonStyle.Dark)"
        Text="Action" 
        Click="@OnEditEntryActionAsync"
        style="position: absolute; right: 8px; bottom: 8px; z-index: 1;" />
</div>

@code {

    [Parameter]
    public StateMachineStateNodeModel Node { get; set; } = null!;

    async Task OnEditEntryActionAsync()
    {
        var result = await DialogService.ShowDialogAsync<Dialogs.ScriptEditorDialog, string?>("State Entry Action", dialog =>
        {
            dialog.Script = Node.State.EntryAction;
            dialog.SystemScript = EngineScriptBuilder.BuildEngineScriptForEditor(Node.Automation);
        });
        if (result != null)
        {
            Node.State.EntryAction = result;
        }

    }
}