@page "/haclients"
@using HassClient.WS
@using Hasm.Services
@inject ClientService ClientService
@inject DialogService DialogService
@inject DataService DataService
@inject UIEventRegistration UIEventRegistration
@implements IDisposable

<PageTitle>HASM - Home Assistant Clients</PageTitle>

<h1>Home Assistant Clients</h1>

@if (clients != null)
{
    <RadzenButton Size="ButtonSize.Small" Text="Add HA Client" Click="@(() => AddOrEditClientAsync(null))" />

    foreach (var client in clients.Values)
    {
        <RadzenCard onclick="@(() => AddOrEditClientAsync(client))">
            <div>@client.Client.Name</div>
            <div>@client.Host</div>
            <div>@(client.Client.Enabled ? "Enabled" : "Disabled")</div>
            <div>@client.ConnectionState</div>
            <div @onclick:stopPropagation="true">
                <RadzenButton ButtonType="ButtonType.Button" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.ExtraSmall" Text="Delete" Click="@(() => OnDeleteAsync(client))" />
            </div>
        </RadzenCard>
    }
}

@code {

    private Dictionary<int, HAClientHandler>? clients;

    protected override void OnInitialized()
    {
        UIEventRegistration.ClientHandlerChanged += ClientHandlerChanged;
        clients = ClientService.GetClients<HAClientHandler>().ToDictionary(x => x.Client.Id, x => x);
        base.OnInitialized();
    }

    private void ClientHandlerChanged(object? sender, IClientHandler clientHandler)
    {
        if (clientHandler.Client.ClientType != Models.ClientType.HomeAssistant)
        {
            return;
        }

        if (clientHandler.Client.Id < 0)
        {
            clients?.Remove(-clientHandler.Client.Id);
        }
        else
        {
			clients?.TryAdd(clientHandler.Client.Id, (HAClientHandler)clientHandler);
        }

        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        UIEventRegistration.ClientHandlerChanged -= ClientHandlerChanged;
    }

    private async Task OnDeleteAsync(HAClientHandler haClient)
    {
        if (await DialogService.ShowNoYesConfirmationDialogAsync("Delete HA Client", $"Are you sure you want to delete the HA Client '{haClient.Client.Name}'?") == Dialogs.ConfirmationDialog.DialogButton.Yes)
        {
			await DataService.DeleteClientAsync(haClient.Client);
        }
    }

    private async Task AddOrEditClientAsync(HAClientHandler? haClient)
    {
        await DialogService.ShowDialogAsync<Dialogs.AddOrEditHAClientDialog>($"{(haClient == null ? "Add" : "Edit")} HA Client", dialog =>
        {
            dialog.Id = haClient?.Client.Id;
        });
    }
}