@using Hasm.Models
@using Hasm.Services
@using Hasm.Services.Automations
@inherits ResultDialogBase<StateMachineHandler.Transition>

<RadzenTemplateForm @ref="Form" Data="@Model" TItem="StateMachineHandler.Transition">
    <RadzenStack>
        <RadzenFormField Text="Description" Variant="@Variant.Outlined">
            <RadzenTextArea @bind-Value="@Model!.Description" Name="Description" Rows="3" spellcheck="false" />
        </RadzenFormField>
        <RadzenFormField Text="Condition" Variant="@Variant.Outlined">
            <div class="textarea-wrapper">
                <RadzenTextArea @bind-Value="@Model!.Condition" Name="Condition" Rows="3" Style="width: 100%;" spellcheck="false" />
                <RadzenIcon Icon="edit" class="overlay-icon" @onclick="EditConditionAsync"></RadzenIcon>
            </div>
        </RadzenFormField>
    </RadzenStack>
    <RadzenButton ButtonType="ButtonType.Button" Text="OK" Click="@OnSubmit" />
    <RadzenButton ButtonType="ButtonType.Button" Text="Script" Click="@(() => ShowStateMachineScript.InvokeAsync())" />
</RadzenTemplateForm>


@code {
    protected override bool ShowClose => true;
    protected override bool IsPersistent => false;
    protected override bool CloseDialogOnOverlayClick => true;
    protected override int? WidthInPixels => 1400;

    [Parameter]
    public StateMachineHandler.Transition? Transition { get; set; }

    [Parameter]
    public EventCallback ShowStateMachineScript { get; set; }

    [Parameter]
    public Automation? Automation { get; set; }

    private StateMachineHandler.Transition? Model;
    private RadzenTemplateForm<StateMachineHandler.Transition>? Form;

    protected override void OnInitialized()
    {
        if (Transition == null)
        {
            Transition = new StateMachineHandler.Transition();
        }
        Model = Transition.CopyObject();
        base.OnInitialized();
    }

    async Task EditConditionAsync()
    {
        var result = await DialogService.ShowDialogAsync<Dialogs.ScriptEditorDialog, string?>("Transition Condition", dialog =>
        {
            dialog.Script = Model!.Condition;
            if (Automation != null)
            {
                dialog.SystemScript = Services.EngineScriptBuilder.BuildEngineScriptForEditor(Automation);
            }
        });
        if (result != null)
        {
            Model!.Condition = result;
        }
    }

    void OnSubmit()
    {
        Form!.EditContext.Validate();
        if (Form.IsValid)
        {
            Close(Model);
        }
    }
}
